
body{
    background: rgb(183,194,241);
    background: linear-gradient(0deg, rgba(183,194,241,1) 0%, rgba(18,44,168,1) 100%);
    background-repeat: no-repeat;
    height:162vh;
  }

  .loginstyle{
    width:30%
  }
  .registerstyle{
    width:30%
  }

  @media only screen and (max-width: 1000px) {
    .loginstyle{
width:50%
    }
    .registerstyle{
      width:50%
          }
  }

  @media only screen and (max-width: 600px) {
    .loginstyle{
width:75%
    }
    .registerstyle{
      width:75%
          }
  }




